@model ImobAdmin.Models.Imovel

@{
    ViewData["Title"] = "Detalhes";
}

<h1>Detalhes</h1>

<div>
    <h4>Imovel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeImovel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeImovel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Preco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Preco)
        </dd>
         <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeContato)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeContato)
        </dd>
         <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TelContato)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TelContato)
        </dd>
         <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoAcao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoAcao)
        </dd>
         <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstaEmDestaque)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstaEmDestaque)
        </dd>
         <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
         <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dormitorios)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dormitorios)
        </dd>
         <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Banheiros)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Banheiros)
        </dd>
         <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sala)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sala)
        </dd>
         <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cozinha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cozinha)
        </dd>
         <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vagas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vagas)
        </dd>
         <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Churrasqueira)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Churrasqueira)
        </dd>
         <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Piscina)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Piscina)
        </dd>
         <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Edicula)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Edicula)
        </dd>
    </dl>
    <a asp-action="Edit" asp-route-id="@Model.ImovelId">Editar</a> |
    <a asp-action="Index">Voltar</a>
</div>
